@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?h09jbo');
  src:  url('fonts/icomoon.eot?h09jbo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?h09jbo') format('truetype'),
    url('fonts/icomoon.woff?h09jbo') format('woff'),
    url('fonts/icomoon.svg?h09jbo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--free:before {
  content: "\e900";
}
.icon-document:before {
  content: "\e901";
}
.icon-hamburger:before {
  content: "\e902";
}
.icon-image-compressor:before {
  content: "\e903";
}
.icon-image-resize:before {
  content: "\e904";
}
.icon-left-arrow:before {
  content: "\e905";
}
.icon-no-signup:before {
  content: "\e906";
}
.icon-pdf-txt:before {
  content: "\e907";
}
.icon-responsive:before {
  content: "\e908";
}
.icon-right-arrow:before {
  content: "\e909";
}
